html, body { height: 100%; margin: 0; padding: 0; }
#left {
	float: left;
	width: 400px;
	height: 100%;
	display: inline-block;
}

#right {
	float: left;
	display: inline-block;
	width: 400px;
	height: 100%;
}

#placeBox {
	float: left;
	background-color: red;
	display: inline-block;
	height: 100%;
	width: 50%
}

#API2 {
	float: right;
	background-color: blue;
	display: inline-block;
	height: 100%;
	width: 50%;
}

#API3 {
	background-color: green;
	display: inline-block;
	height: 50%;
	width: 500px;

}

#map {
	display: inline-block;
	height: 50%;
	width: 500px;
}
